@charset "UTF-8";
* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
}

html, body {
  background-color: #09E5FF;
}

@font-face {
  font-family: "LOTTERIA DDAG-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2") format("woff2");
}
@font-face {
  font-family: "HakgyoansimExt Wooju-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2") format("woff2");
}
@font-face {
  font-family: "HakgyoansimExt Wooju-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2") format("woff2");
}
@font-face {
  font-family: "Hakgyoansim Wooju-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2") format("woff2");
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgb(247, 255, 131) -123.37%, rgba(9, 229, 255, 0.5) 130.9%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* 배경만 블러 처리 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "LOTTERIA DDAG-Regular";
  font-size: 36px;
  z-index: 10;
}

ul {
  margin: 0;
  padding: 0;
}

.wrap1 {
  width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  display: block;
  padding: 40px 20px;
  text-decoration: none;
  top: 5px;
  -webkit-text-stroke: 1px #fff400;
  color: #FF0087;
}

.menu li a:hover {
  color: #094EFF;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}

.logo {
  position: absolute; /* 절대 위치 설정 */
  left: 50%; /* 중앙 정렬을 위해 왼쪽에서 50% 떨어진 곳에 위치 */
  transform: translateX(-50%); /* 정확한 중앙 정렬을 위해 X축 기준으로 50% 만큼 이동 */
  z-index: 3; /* 다른 요소들 위에 나타나도록 z-index 설정 */
  top: 5px;
  max-width: 242px;
  margin: 10px auto;
  padding: 0;
  align-content: center;
  -webkit-text-stroke: 0.5px #f7ff83;
  background: linear-gradient(180deg, rgb(253, 124, 42) 0%, rgb(233, 38, 141) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: transparent;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.menu {
  display: flex;
  width: 100%; /* 전체 너비 */
  padding: 0; /* 패딩 제거 */
  list-style: none; /* 리스트 스타일 제거 */
  margin: 0; /* 마진 제거 */
  height: 150px; /* nav 높이 설정 */
}

.logo-1 {
  position: absolute; /* 절대 위치 설정 */
  left: 50%; /* 중앙 정렬을 위해 왼쪽에서 50% 떨어진 곳에 위치 */
  transform: translateX(-50%); /* 정확한 중앙 정렬을 위해 X축 기준으로 50% 만큼 이동 */
  z-index: 3; /* 다른 요소들 위에 나타나도록 z-index 설정 */
  max-width: 193px;
  top: 90px;
  margin: 10px auto;
  padding: 0;
  align-content: center;
  background-color: #E9268D;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "HakgyoansimExt Wooju-R";
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.step-title {
  text-align: left; /* 텍스트를 왼쪽으로 정렬 */
  /* 나머지 스타일은 기존 설정을 유지합니다. */
}

.steps-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px; /* 필요에 따라 조절 */
  top: 200px;
  margin-left: 40px;
  flex-wrap: wrap;
}

.step-title, .step-number {
  flex: 0 0 auto; /* 타이틀과 번호는 자신의 내용에 맞는 크기를 유지합니다. */
  margin-right: 20px; /* 요소와 요소 사이의 간격을 주기 위한 마진 */
}

.step-title {
  width: 270px; /* 전체 너비를 차지하도록 설정 */
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  margin-bottom: 20px; /* 다음 요소와의 간격 조절 */
  color: #E9268D;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 5px;
}

.step-number {
  color: #F7FF83;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "LOTTERIA DDAG";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 10px; /* 좌우 여백 조절 */
}

.step-description {
  font-size: 32px;
  font-family: "HakgyoansimExt Wooju-R";
  margin: 0 20px; /* 좌우 여백 조절 */
  text-align: left;
  line-height: 45px;
  top: 20px;
  flex-grow: 1; /* 설명은 남은 공간을 모두 차지하도록 합니다. */
  flex-basis: 0; /* 기본 크기를 0으로 설정하여 flex-grow 비율에 따라 크기가 결정되도록 합니다. */
}

@media (max-width: 768px) {
  .step-number, .step-description {
    flex-basis: 100%; /* 모바일 뷰에서는 전체 너비를 차지하도록 설정 */
    margin: 10px 0; /* 상하 여백 조절 */
    text-align: left;
  }
}
.horizontal-line {
  height: 5px; /* 선의 두께 */
  background-color: #FFF500; /* 선의 색상, #000은 검은색입니다 */
  top: 170px;
  margin: 30px;
}

.step-number {
  position: relative; /* 가상 요소의 위치 기준 설정 */
  padding-left: 70px; /* 왼쪽 패딩으로 가상 요소와의 간격 생성 */
  margin-bottom: 20px; /* 아래쪽 마진으로 요소들 사이의 간격 생성 */
}

.step-number::before {
  content: ""; /* 가상 요소에 내용이 없어야 함 */
  position: absolute; /* 부모 요소(.step-number)에 대해 절대 위치 */
  left: 0; /* 왼쪽 정렬 */
  top: 100%; /* 부모 요소의 세로 중간 위치 */
  transform: translateY(-50%); /* 정확한 중앙 정렬을 위한 변환 */
  border-left: 4px dashed #FFF500; /* 점선 스타일 적용 */
}

@media (min-width: 600px) {
  .step-number::before {
    top: 0; /* 점선의 시작을 요소의 상단으로 조정 */
    transform: translateY(0); /* 중앙 정렬 해제 */
    height: 100%; /* 다음 요소까지의 높이를 계산하여 조정 */
  }
}
.text-wrapper-34 {
  position: absolute;
  top: 458px;
  left: 24px;
  font-family: "LOTTERIA DDAG";
  color: #E9268D;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-35 {
  position: absolute;
  top: 566px;
  left: 24px;
  font-family: "HakgyoansimExt Wooju-R";
  color: #E9268D;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

li {
  list-style-type: none;
}

.bar {
  overflow: hidden;
  position: relative;
  top: 420px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white; /* 흰색 배경 적용 */
  padding-bottom: 90px;
  padding-top: 30px; /* 내용 주변에 20px의 패딩 추가 */
}

.bar ul.image li {
  position: relative;
  /* 이미지 컨테이너 스타일링 */
  margin: 0 20px;
  flex-shrink: 0;
}

.bar ul.image li img {
  width: 100%;
  height: auto;
  /* 이미지 스타일링 */
}

.image-text {
  position: absolute;
  bottom: -50px; /* 이미지 하단에서부터의 거리 */
  left: 50%; /* 부모 요소의 왼쪽에서 50%의 위치에 배치 */
  transform: translateX(-50%); /* 자기 자신의 너비의 50%만큼 왼쪽으로 이동 */
  font-family: "HakgyoansimExt Wooju-R";
  font-size: 32px;
  color: black;
  text-align: center; /* 텍스트를 가운데 정렬 */
  z-index: 1;
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
}

.image-list {
  display: flex; /* flexbox를 사용 */
  flex-wrap: nowrap; /* 이미지가 한 줄로 나열되도록 */
  animation: scroll 30s linear infinite; /* 애니메이션 적용 */
}

.image-list li {
  flex: 0 0 auto; /* flex 항목이 자신의 크기를 유지하도록 */
  margin-right: 20px; /* 이미지 사이의 간격을 설정 */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1250px); /* 이미지 개수와 너비에 따라 조정 */
  }
}
.text-wrapper-36 {
  position: absolute;
  top: 520px;
  left: 24px;
  font-family: "LOTTERIA DDAG-Regular", Helvetica;
  color: #E9268D;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-4 {
  position: absolute;
  width: 659px;
  height: 457px;
  top: 650px;
  left: 0;
}

.ellipse-18 {
  position: absolute;
  width: 591px;
  height: 263px;
  top: 0;
  left: 0;
  border-radius: 295.5px/131.5px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(247, 255, 131) 33.34%, rgba(255, 255, 255, 0) 100%);
}

.ellipse-19 {
  position: absolute;
  width: 591px;
  height: 263px;
  top: 194px;
  left: 0;
  border-radius: 295.5px/131.5px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(247, 255, 131) 33.34%, rgba(255, 255, 255, 0) 100%);
}

.image-5 {
  top: 46px;
  left: 25px;
  position: absolute;
  width: 114px;
  height: 47px;
}

.image-6 {
  top: 261px;
  left: 25px;
  position: absolute;
  width: 114px;
  height: 47px;
}

.text-wrapper-18 {
  position: absolute;
  top: 45px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  color: #000000;
  font-size: 40px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-19 {
  position: absolute;
  top: 260px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  color: #000000;
  font-size: 40px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.flexcontainer-4 {
  gap: 8px;
  width: 495px;
  height: 56px;
  top: 144px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  font-size: 24px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.flexcontainer-5 {
  gap: 8px;
  width: 495px;
  height: 56px;
  top: 359px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  font-size: 24px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.text-wrapper-20 {
  position: absolute;
  top: 91px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-21 {
  position: absolute;
  top: 306px;
  left: 164px;
  font-family: "Hakgyoansim Wooju-R", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.plate {
  top: 650px;
}

.ellipse-6 {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 0;
  left: 905px;
  border-radius: 400px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 245, 0) 51.78%, rgba(255, 255, 255, 0) 100%);
}

.view-3 {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 0;
  left: 905px;
  background-color: #ffffff;
  border-radius: 400px;
  border: 2px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5019607843);
  z-index: -1;
}

.img {
  position: absolute;
  width: 500px;
  height: 301px;
  top: 398px;
  left: 199px;
}

.ellipse-4 {
  position: absolute;
  width: 500px;
  height: 301px;
  top: 97px;
  left: 97px;
}

.ellipse-5 {
  position: absolute;
  width: 54px;
  height: 88px;
  top: 508px;
  left: 117px;
}

.ellipse-9 {
  position: absolute;
  width: 517px;
  height: 133px;
  top: 498px;
  left: 1046px;
  background-color: rgba(0, 0, 0, 0.4784313725);
  border-radius: 258.5px/66.5px;
}

.rectangle {
  position: absolute;
  width: 466px;
  height: 465px;
  top: 99px;
  left: 1072px;
  border-radius: 20px;
  border: 3px solid #FFF500;
}

.plate-1 {
  top: 1200px;
  left: -800px;
}

.rectangle-4 {
  position: absolute;
  width: 466px;
  height: 611px;
  top: -40px;
  left: 1072px;
  border-radius: 20px;
  border: 3px solid #FFF500;
}

.plate-2 {
  top: 2400px;
}

.rectangle-2 {
  position: absolute;
  width: 466px;
  height: 611px;
  top: -40px;
  left: 1072px;
  border-radius: 20px;
  border: 3px solid #FFF500;
}

.plate-3 {
  top: 2900px;
  left: -800px;
}

.fork {
  top: -930px;
}

.path-3:hover {
  transform: rotate(23deg); /* 마우스 오버 시 113도 회전 */
  transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

.path-3 {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  width: 322px;
  height: 642px;
  top: 2255px;
  left: 760px;
  z-index: 1;
}

.path-2 {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  width: 173px;
  height: 336px;
  top: 2269px;
  left: 739px;
}

.path {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  width: 374px;
  height: 607px;
  top: 2269px;
  left: 694px;
  z-index: -2;
}/*# sourceMappingURL=style.css.map */